<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8"></meta>
<title>Movie details editor</title>
<meta th:field="viewport" content="width=device-width, initial-scale=1"></meta>
<link href="css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<a href="/home" class="navbar-brand">CinemApka</a>

			<div class="collapse navbar-collapse navCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li><p class="h4 text-uppercase" style="color: #FFF;"
							th:text="${username}" /></li>
					<li><p th:each="role : *{user_roles}" th:object="${role}"
							class="h5 text-uppercase text-info" th:text="${role.role}" /></li>
				</ul>
			</div>

			<button class="navbar-toggle" data-toggle="collapse"
				data-target=".navCollapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>

		</div>
	</nav>

<div class="container voffset6">
<div class="row">
	<div class="col-md-1"> </div>
	<div class="col col-md-10" th:if="${userValidated}">
		<form class="voffset2" action="#" th:action="@{/editMovie}" th:object="${movie}" method="post">
			<ul class="list-group">
				<li class="list-group-item active h4"><span th:text="*{name}">Nazwa filmu</span></li>
				<li class="list-group-item"><input type="text" th:field="*{imgSrc}" class="pull-right col-md-5" value="*{imgSrc}"/><img th:src="*{imgSrc}"></img></li>
				<li class="list-group-item"><input type="text" th:field="*{ageAllowed}" class="pull-right col-md-5" value="*{ageAllowed}"/>Age allowed: </li>
				<li class="list-group-item"><input type="text" th:field="*{type}" class="pull-right col-md-5" value="*{type}"/>Type: </li>
				<li class="list-group-item"><input type="text" th:field="*{languageInformation}" class="pull-right col-md-5" value="*{languageInformation}"/>Language info: </li>
				<li class="list-group-item"><input type="text" th:field="*{length}" class="pull-right col-md-5" value="*{length}"/>Length: </li>
				<li class="list-group-item"><input type="text" th:field="*{prime}" class="pull-right col-md-5" value="*{prime}"/>Prime: </li>
				<li class="list-group-item"><input type="text" th:field="*{director}" class="pull-right col-md-5" value="*{director}"/>Director: </li>
				<li class="list-group-item"><input type="text" th:field="*{cast}" class="pull-right col-md-5" value="*{cast}"/>Cast: </li>
				<li class="list-group-item"><input type="text" th:field="*{production}" class="pull-right col-md-5" value="*{production}"/>Production: </li>
				<li class="list-group-item" style="height: 125px;">Description: <textarea th:field="*{description}" class="pull-right col-md-5" th:text="*{description}" rows="5">j</textarea></li>
				<li class="list-group-item hide"><input type="hidden" th:field="*{name}" value="*{name}"/></li>
				<li class="list-group-item hide"><input type="hidden" th:field="*{id}" value="*{id}"/></li>
				<li class="list-group-item hide"><input type="hidden" th:field="*{user}" value="*{user}"/></li>
				<li class="list-group-item text-center voffset3">
					<input class="btn btn-success" type="submit" value="Save" />
					<input class="btn btn-warning" type="reset" value="Reset" />					
				</li>
			</ul>	
		</form>
	</div>
</div>
</div>

<div class="voffset9"> </div>
	
	<footer class="navbar navbar-fixed-bottom">
		<div class="container">
			<p class="navbar-text text-center">CinemApka - developed by
				Daniel Skrzeszowski</p>
		</div>
	</footer>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>